<h3>Examenes a realizar</h3>
<br>
<form [formGroup]="form" #detailForm="ngForm" (ngSubmit)="getValues()">
    <div class="mb-3">
        <div class="row">
            <div class="col-4">
                <label for="perfil" class="form-label">Seleccionar por perfil: </label>
            </div>

            <div class="col-8">
                <mat-select formControlName="perfil" (selectionChange)="initExamenByPerfil()"  name="perfil" id="perfil" class="form-control" multiple="multiple" data-placeholder="Seleccione el perfil a realizar">
                    
                    <mat-option *ngFor="let perf of listPerfil" value="{{perf.idPerfiles}}">{{perf.descripcion}}</mat-option>
                </mat-select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <label for="examenes" class="form-label">Seleccionar examenes adicionales: </label>
            </div>

            <div class="col-8">
                <mat-select formControlName="examenes" name="examen" id="examen" class="form-control" multiple data-placeholder="Seleccione el perfil">
                    <ng-container #first *ngFor ="let perf of listPerfil">
                        <mat-optgroup label="{{perf.descripcion}}">
                            <ng-container #second *ngFor="let ex of listExamenes">
                                
                                <mat-option  *ngIf="perf.idPerfiles == ex.idPerfil" [value]="ex.idExamen">{{ex.descripcion}}</mat-option>
                            </ng-container>
                        </mat-optgroup>
                    </ng-container>
                </mat-select>
            </div>
        </div>
    </div>
    <button class="btn btn-secondary"> Guardar </button>
</form>