<h3>Examenes a realizar</h3>
<br>
<form action="">
    <div class="mb-3">
        <div class="row">
            <div class="col-4">
                <label for="perfil" class="form-label">Seleccionar por perfil: </label>
            </div>

            <div class="col-8">
                <select class="form-select multiple" id="perfil" data-placeholder="Seleccione los perfiles a realizar" multiple>
                    <option value="1">LSH</option>
                    <option value="2">Perfil Lipidico</option>
                    <option value="3">Perfil 3</option>
                    <option value="4">Perfil 4</option>
                </select>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <label for="examenes" class="form-label">Seleccionar por examen singular: </label>
            </div>

            <div class="col-8">
                <select class="form-select multiple" id="examenes" data-placeholder="Seleccione los examenes a realizar" multiple>
                    <optgroup label="LSH">
                        <option class="1">Exam 1</option>
                        <option class="1">Exam 2</option>
                        <option class="1">Exam 3</option>
                        <option class="1">Exam 4</option>
                    </optgroup>
                    <optgroup label="Perfil Lipidico">
                        <option class="2">Exam 5</option>
                        <option class="2">Exam 6</option>
                        <option class="2">Exam 7</option>
                        <option class="2">Exam 8</option>
                        <option class="2">Exam 9</option>
                        <option class="2">Exam 10</option>
                    </optgroup>
                    <optgroup label="Group 3">
                        <option class="3">Exam 11</option>
                        <option class="3">Exam 12</option>
                        <option class="3">Exam 13</option>
                        <option class="3">Exam 14</option>
                        <option class="3">Exam 15</option>
                    </optgroup>
                </select>
                
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Insertar</button>
</form>
