<h3>Generar orden</h3><hr><br>
<form action="">
    <div class="mb-3">
        <div class="row">
            <div class="col-4">
                <label for="empleado" class="form-label">Empleado a Cargo: </label>
            </div>
            <div class="col-8">
                
                <select class="form-select select2" id="empleado" data-placeholder="Choose one thing">
                    <option></option>
                    <option>Juan</option>
                    <option>Roberto</option>
                    <option>Lucia</option>
                    <option>Maria</option>
                    <option>Tania</option>
                    <option>Luis</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <label for="paciente" class="form-label">Paciente: </label>
            </div>
            <div class="col-8">
                
                <mat-select name="paciente" placeholder="Seleccione..." class="form-control" (selectionChange)="onChange($event)">
                    
                    <mat-option  *ngFor="let pc of listPacientes" [value]="pc.idPaciente" >
                        {{pc.primerNombre}} {{pc.primerApellido}} - {{pc.numIdentificacion}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        
        <br>
        <div class="row">
            <ul class="list-group">
                <li id="full-name" class="list-group-item"><strong>Nombre Completo: </strong> {{currentpac.primerNombre}} {{currentpac.segundoNombre}} {{currentpac.primerApellido}} {{currentpac.segundoApellido}}</li>
                <li id="genero" class="list-group-item"><strong>Sexo: </strong> {{this.sexo}} </li>
                <li id="tipo-sangre" class="list-group-item"><strong>Tipo de Sangre: </strong> {{this.tsangre}} </li>
                <li id="religion" class="list-group-item"><strong>Religión: </strong> {{this.religion}} </li>
                <li id="estado" class="list-group-item"><strong>Estado del paciente: </strong> {{this.estado}} </li>
            </ul>
        </div>

        <br>
        <div class="row">
            <div class="col-4">
                <label for="servicio" class="form-label">Tipo de Servicio: </label>
            </div>
            <div class="col-8">
                
                <select class="form-select" id="servicio" data-placeholder="Choose one thing">
                    <option>Seleccione...</option>
                    <option>Tipo 1</option>
                    <option>Tipo 2 </option>
                    <option>Tipo 3</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <label for="servicio" class="form-label">Tipo de Orden: </label>
            </div>
            <div class="col-8">
                <select class="form-select" id="servicio" data-placeholder="Choose one thing">
                    <option>Seleccione...</option>
                    <option>Cita</option>
                    <option>Emergencia</option>
                    <option>Rutina</option>
                </select>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-4">
                <label for="observaciones" class="form-label">Observaciones: </label>
            </div>
            <div class="col-8">
                <textarea class="form-control" id="observaciones" rows="3"></textarea>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="asistencia" value="option1">
                    <label class="form-check-label" for="asistencia">Asistencia requerida</label>
                  </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary"> Guardar </button>
    </div>    
</form>