<table class="table table-striped table-success table-responsive">
    <thead>
        <tr>
            <th scope="col"># Orden</th>
            <th scope="col">Paciente</th>
            <th scope="col">Tipo de Orden</th>
            <th scope="col">Fecha</th>
            <th scope="col">Examenes</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let obj of listOrden">
            <th scope="row">{{obj.n_order}}</th>
            <th>{{obj.paciente}}</th>
            <th>{{obj.tipo_orden}}</th>
            <th>{{obj.fechaOrden}}</th>
            <th>
                <p *ngFor="let det of obj.detalles" ng-init="">
                    {{det.examen}}
                </p>
            </th>
        </tr>
    </tbody>
</table>